h3 Speakers
table
  tr
    th Speaker name
    th
  tr(ng-repeat="speaker in speakersCtrl.speakers")
    td {{ speaker.fullname }}
    td
      a(href="" ng-click="speakersCtrl.onDeleteSpeaker(speaker)") DELETE
      span  |
      a(ui-sref="main.private.speaker-edit({id: speaker.id})") EDIT
br
br
a.action-button(ui-sref="main.private.speaker-add") NEW
