form(name="HackathonForm" ng-submit="hackathonFormCtrl.onCreateHackathon(HackathonForm.$valid)" novalidate="")
  input(ng-model="hackathonFormCtrl.hackathon.name" placeholder="Hackathon name" ng-required="true")
  br
  br
  input(ng-model="hackathonFormCtrl.hackathon.holdDate" placeholder="Date" ng-required="true")
  br
  br
  select(ng-model="hackathonFormCtrl.hackathon.topicId")
    option(value="") ---Select topic---
    option(ng-repeat="topic in hackathonFormCtrl.topics" value="{{ topic.id }}") {{ topic.name }}
  br
  br
  select(ng-model="hackathonFormCtrl.hackathon.speakerId")
    option(value="") ---Select speaker---
    option(ng-repeat="speaker in hackathonFormCtrl.speakers" value="{{ speaker.id }}") {{ speaker.fullname }}
  br
  br
  input(type="submit" value="Save")
