table
    tr
        th Id
        th Topic name
        th
    tr(ng-repeat="topic in topicCtrl.topics")
        td {{ topic.id }}
        td {{ topic.name }}
        td
            a(href="" ng-click="topicCtrl.onDeleteTopic(topic)") DELETE
form(ng-submit="topicCtrl.onCreateTopic()")
    input(ng-model="topicCtrl.topicName")
    input(type="submit" value="Add topic")
